nav {
    margin: 8px 16px;
}

.sticky-left-sidebar{
    margin: 8px 16px;
    width: 250px;
}
.section{
    margin: 8px 16px;
}
.section> p{
    margin: 8px;
}
.section> h3{
    margin: 8px;
}
.preview{
    background-color: #f0f0f0;
    padding: 16px;
}

.preview> .left{
    background-color: #FFFFFF;
}
.preview> .right{
    background-color: #FFFFFF;
}
