<nav class="sticky-header bd-b bg-white">
    <div class="v-split-row">
        <div class="left">
            <h3>Docs</h3>
        </div>
        <div class="right">
            <div class="row">
                <div class="hd-item">
                    <%= link_to "Github", "https://github.com/takuminakano/css-positioning", target: "_blank" %>
                </div>
                <div class="hd-item">About</div>
            </div>
        </div>
    </div>
</nav>
