---
title: CSS Positioning Docs
---
<div class="page">
    <%= partial "header" %>
    <div class="row">
        <div class="sticky-left-sidebar">
            <h3>Sidebar</h3>
        </div>
        <div class="divider-v"></div>
        <div class="main">
            <div class="section">
                <h3>Description</h3>
                <p>This is a collection of CSS utilities to position HTML elements.</p>
            </div>
            <div class="section">
                <h3><code>v-split-row</code></h3>
                <p>
                    Divide sub-elements into left and right.
                </p>
                <h5>Code</h5>
                <p>
                    <code>&lt;div class="v-split-row"&gt;<br/>
 &nbsp; &lt;div class="left"&gt;Left&lt;/div&gt;<br/>
 &nbsp; &lt;div class="right"&gt;Right&lt;/div&gt;<br/>
&lt;/div&gt;
                    </code>
                    <h5>Preview</h5>
                    <div class="preview">
                        <div class="v-split-row">
                            <div class="left">
                                <code>left</code>
                            </div>
                            <div class="right">
                                <code>Right</code>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
